html, body {
  height: 100%;
  display: grid;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relation:nth-child(3) {
  display: none;
}

.name {
  font-size: 0.6em;
  fill: #576574;
}

.node:nth-child(2) text,
.node:nth-child(3) text {
  transform: translateY(-8%);
}

.node:nth-child(4) text,
.node:nth-child(5) text {
  transform: translateY(8%);
}

.circle:hover {
  cursor: pointer;
}